* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}
h1 {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}
body {
  background-color: #333;
  color: #fff;
  font-family: math;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  width: 80%;
  border-radius: 8px;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.card {
  padding: 15px 20px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0px 20px;
  background-color: #2e2e2e;
  border-radius: 10px;
  border: 2px solid #3a3a3a;
  box-shadow: 0px 1px 7px 3px #3333339e;
  transition: all 0.3s linear;
  cursor: pointer;
  perspective: 100px;
}

img {
  object-fit: cover;
  object-position: center;
  width: 150px;
  height: 150px;
}
.card-img {
  border-radius: 10px;
  overflow: hidden;
}

a {
  margin-top: 5px;
  display: inline-block;
  color: crimson;
  text-decoration: none;
  transition: all 0.5s linear;
}

a:hover {
  text-decoration: underline;
}

.card:hover {
  box-shadow: 0 0 8px 3px #454141;
}

.flip {
  text-align: left;
  display: block;
  font-size: 0.7rem;
  padding: 20px 10px;
  font-weight: 600;
  line-height: 1.5;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 230px;
  width: 210px;
  animation: rotate 0.5s cubic-bezier(0.55, 0.09, 0.68, 0.53) 1;
}

.flip-rev {
  animation: rotate-rev 0.5s cubic-bezier(0.55, 0.09, 0.68, 0.53) 1;
}

@keyframes rotate {
  0% {
    transform: rotate3d(0, 1, 0, 0);
    opacity: 0;
  }
  50% {
    transform: rotate3d(0, 1, 0, 90deg);
    opacity: 0.5;
  }
  100% {
    transform: rotate3d(0, 1, 0, 180deg);
    opacity: 1;
  }
}

@keyframes rotate-rev {
  0% {
    transform: rotate3d(0, 1, 0, 0);
    opacity: 0;
  }
  50% {
    transform: rotate3d(0, 1, 0, -90deg);
    opacity: 0.5;
  }
  100% {
    transform: rotate3d(0, 1, 0, -180deg);
    opacity: 1;
  }
}
span {
  color: crimson;
  font-size: 0.8rem;
}
p {
  margin-top: 8px;
}
